{% comment %} Should make a setting to decide which type of heading we're outputting instead of a heading size one. {% endcomment %}
<h2
  class="{{ block.settings | class_list }} w-full text-{{ block.settings.alignment }} {{ block.settings.style_text_header }}"
  {{ block.shopify_attributes }}
>
  {{ block.settings.heading }}
</h2>

{% schema %}
{
  "name": "Heading",
  "tag": null,
  "class": "heading-block",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Alignment",
      "options": [
        {
          "value": "start",
          "label": "Start"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "End"
        }
      ],
      "default": "start"
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing"
    },
    {
      "type": "header",
      "content": "Tailwind styling classes"
    },
    {
      "type": "text",
      "id": "style_text_header",
      "label": "Style Text Header",
      "info": "Add classes to style header text"
    },
  ],
  "presets": [{ "name": "Heading" }]
}
{% endschema %}