<h4
  class="{{ block.settings | class_list }} w-full {{ block.settings.text_style }} text-{{ block.settings.alignment }} {{ block.settings.style_text }} {{ block.settings.spacing }}"
  {{ block.shopify_attributes }}
>
  {{ block.settings.text }}
</h4>

{% schema %}
{
  "name": "Text",
  "tag": null,
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Default Text</p>"
    },
    {
      "type": "select",
      "id": "text_style",
      "label": "Style",
      "options": [
        {
          "value": "text-lg",
          "label": "Body"
        },
        {
          "value": "text-md",
          "label": "Subtitle"
        },
        {
          "value": "text-sm",
          "label": "Caption"
        }
      ],
      "default": "text-md"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Alignment",
      "options": [
        {
          "value": "start",
          "label": "Start"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "End"
        }
      ],
      "default": "start"
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing"
    },
    {
      "type": "header",
      "content": "Tailwind styling classes"
    },
    {
      "type": "text",
      "id": "style_text",
      "label": "Style Text",
      "info": "Add classes to style text"
    },
  ],
  "presets": [{ "name": "Text" }]
}
{% endschema %}