<nav class="navbar {{ section.settings.navbar_classes }}">
  <div class="navbar__container {{ section.settings.container_classes }}">
    <div class="navbar__menu-left {{ section.settings.navbar__menu_left }}">
      {% for block in section.blocks %}
        {% if block.type == 'left_menu_item' %}
          <a href="{{ block.settings.link }}" class="navbar__menu-item {{ block.settings.menu_item_classes }}">
            {{ block.settings.title }}
          </a>
        {% endif %}
      {% endfor %}
    </div>

    <div class="navbar__menu-right {{ section.settings.navbar__menu_right }}">
      {% for block in section.blocks %}
        {% if block.type == 'right_menu_item' %}
          <a href="{{ block.settings.link }}" class="navbar__menu-item {{ block.settings.menu_item_classes }}">
            {% if block.settings.icon != blank %}
              {% render block.settings.icon %}
            {% endif %}
            {{ block.settings.title }}
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</nav>

{% schema %}
{
  "name": "Navbar",
  "settings": [
    {
      "type": "header",
      "content": "Tailwind Classes"
    },
    {
      "type": "textarea",
      "id": "navbar_classes",
      "label": "Navbar classes",
      "default": "h-[83px] fixed w-full bg-red-200"
    },
    {
      "type": "textarea",
      "id": "container_classes",
      "label": "Container classes",
      "default": "border-[1px] border-brand-black  flex justify-between h-full "
    },
    {
      "type": "textarea",
      "id": "navbar__menu_left",
      "label": "Left menu classes",
      "default": "hidden md:flex h-full"
    },
    {
      "type": "textarea",
      "id": "navbar__menu_right",
      "label": "Right menu classes",
      "default": "hidden md:flex h-full"
    },
    {
      "type": "text",
      "id": "mobile_menu_classes",
      "label": "Mobile menu button classes",
      "default": "md:hidden p-2"
    }
  ],
  "blocks": [
    {
      "type": "left_menu_item",
      "name": "Left Menu Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Menu item text",
          "default": "Menu Item"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Menu item link"
        },
        {
          "type": "textarea",
          "id": "menu_item_classes",
          "label": "Menu item classes",
          "default": "text-gray-600 hover:text-gray-900 border-brand-black border-r-[1px] flex items-center justify-center w-[180px]"
        }
      ]
    },
    {
      "type": "right_menu_item",
      "name": "Right Menu Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Menu item text",
          "default": "Sign In"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Menu item link"
        },
        {
          "type": "textarea",
          "id": "menu_item_classes",
          "label": "Menu item classes",
          "default": "text-gray-600 hover:text-gray-900 border-brand-black border-l-[1px] flex items-center justify-center w-[180px]"
        },
        {
          "type": "text",
          "id": "icon",
          "label": "Icon snippet name",
          "info": "Enter the name of the icon snippet (without .liquid extension)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Navbar",
      "blocks": [
        {
          "type": "left_menu_item",
          "settings": {
            "title": "Shop"
          }
        },
        {
          "type": "left_menu_item",
          "settings": {
            "title": "Contact"
          }
        },
        {
          "type": "right_menu_item",
          "settings": {
            "title": "Sign In",
            "icon": "icon-user"
          }
        },
        {
          "type": "right_menu_item",
          "settings": {
            "title": "Cart",
            "icon": "icon-cart"
          }
        }
      ]
    }
  ]
}
{% endschema %}